*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$bg-linear-body: linear-gradient(to right, #7A7FBA, #11C37C);
$bg-linear-card: linear-gradient(to right, #d744c3, #7db19c);
$bd-color : rgba(243, 236, 236, 0.7);


body{
    background: $bg-linear-body;
}



div {.fa-shopping-cart {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
}}

.cart-close{
    color:white;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    font-size: 30px;
    z-index: 10;
  
}
.cart-icon{
   
    position: absolute;
    top: 157px;
    right: 150px;
    z-index: 1;
    
}
.cart-modal:checked ~ #cart-items {
    transform: translateX(0%);
    opacity: 1;
}
.cart-modal {
    width: 100px;
}

#cart-items {
    position: fixed;
    right: 10px;
    top: 0;
    opacity: 0;
    transform: translateX(100%);
    background-color: $bd-color;
    z-index: 1;
    padding: 0px 30px 0 42px;
    height: 100vh;
    overflow-y: auto;
    transition: linear 0.5s;
 width: 100vw;
 display: flex;
 justify-content:space-between;
 align-items: center;
    
}
#cart-title {
    position: absolute;
    
    right: 0;
    width: 50%;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    padding: 20px;
    background-color: gray;
}


.cart-icon-left{
    width:90vw;
    height: 90vh;
}

#cart-number{
    position: absolute;
    top: -5px;
    right: -12px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 0px 1px;
    background: #000;
    color: white;
}
.card{
 background: $bg-linear-card;
 border-radius: 16px;
&:hover{
    transform: translateY(-15px);
    
}

}
.cart-bottom{
    button{
        background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    background-size: 300% 100%;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        padding: 2px 12px;
       
        transition: all .4s ease-in-out;
        &:hover{
            background-position: 100% 0;
        transition: all .4s ease-in-out;
            
            
        }
    }
}


footer{
    p{
        &:hover{
            color: rgb(179, 13, 13);
        }
    }
}